.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(22, 28, 36, 0.5);
  /* background-color: rgba(0, 0, 0, 0.7); */
  font-size: 62.5%;
  z-index: 99;
}

.paper {
  width: 400px;
  height: 400px;
  padding: 2em;
  background-color: white;
}

@media only screen and (max-width: 1100px) {
  .background {
    font-size: 50%;
  }
}
