.game_finish_wrapper {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: #212b36;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
